.head-primary {
    background-color:rgba(124, 252, 64, 0.612);
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.logo-img-container {
    max-width: 450px;
    margin: auto;
}

.text-center {
    text-align: center!important;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col,.col-md-3, .col-lg-3 {

position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

div {
    display: block;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}